@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import "tailwindcss";

@layer utilities {
  .font-gochi-hand {
    font-family: "Gochi Hand";
    font-weight: 400;
    font-style: normal;
  }
}
